https://www.kaggle.com/code/sunilkumarmuduli/deployment-streamlit-cnn-for-good-resume

2. https://www.kaggle.com/competitions/playground-series-s5e3

Binray Predication With Rainfall

In [1]:
# import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_test=pd.read_csv("./data/test.csv")
df_train=pd.read_csv("./data/train.csv")

In [3]:
# check the shape of the data
print(f"Shape of the Test data is  {df_test.shape}")
print("-"*35)
print(f"Shape of the Train data is {df_train.shape}")

Shape of the Test data is  (730, 12)
-----------------------------------
Shape of the Train data is (2190, 13)

In [4]:
df_train.describe()

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
count,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000
mean,1094.500000,179.948402,1013.602146,26.365799,23.953059,22.170091,20.454566,82.036530,75.721918,3.744429,104.863151,21.804703,0.753425
std,632.342866,105.203592,5.655366,5.654330,5.222410,5.059120,5.288406,7.800654,18.026498,3.626327,80.002416,9.898659,0.431116
min,0.000000,1.000000,999.000000,10.400000,7.400000,4.000000,-0.300000,39.000000,2.000000,0.000000,10.000000,4.400000,0.000000
25%,547.250000,89.000000,1008.600000,21.300000,19.300000,17.700000,16.800000,77.000000,69.000000,0.400000,40.000000,14.125000,1.000000
50%,1094.500000,178.500000,1013.000000,27.800000,25.500000,23.850000,22.150000,82.000000,83.000000,2.400000,70.000000,20.500000,1.000000
75%,1641.750000,270.000000,1017.775000,31.200000,28.400000,26.400000,25.000000,88.000000,88.000000,6.800000,200.000000,27.900000,1.000000
max,2189.000000,365.000000,1034.600000,36.000000,31.500000,29.800000,26.700000,98.000000,100.000000,12.100000,300.000000,59.500000,1.000000

In [5]:
df_train.isnull().sum().sum()

np.int64(0)

In [6]:
df_train.duplicated().sum()

np.int64(0)

In [7]:
df_train.columns

Index(['id', 'day', 'pressure', 'maxtemp', 'temparature', 'mintemp',
       'dewpoint', 'humidity', 'cloud', 'sunshine', 'winddirection',
       'windspeed', 'rainfall'],
      dtype='object')

In [8]:
df_train["cloud"].value_counts()

cloud
88.0    375
84.0    129
83.0    127
78.0     95
81.0     88
       ...
11.0      2
34.0      2
7.0       1
27.0      1
2.0       1
Name: count, Length: 78, dtype: int64