<img>
<html>
  <head>
  </head>

  <body>
    <img src="image/123.jpg">
  </body>
</html>

<a id="library"></a>
<div style="background-color:#229799; padding:10px; border-radius:8px; color:white; text-align:center; font-weight:bold; margin:0;">
    <h2 style="color:white; font-weight:bold; margin:0;">
        <span style="font-size:25px;"></span> Intro of the Data
    </h2>
</div>

# üöÄ Resume Parsing Dataset by Neuralframe AI  

## üìå About the Dataset  
This **comprehensive dataset**, curated and processed by **Neuralframe AI**, is designed for **resume parsing, candidate profiling, and job matching applications**. It contains structured information such as:  

‚úÖ **Career Objectives**  
‚úÖ **Skills & Expertise**  
‚úÖ **Education & Certifications**  
‚úÖ **Work Experience**  
‚úÖ **Projects & Achievements**  

üì¢ The data has been sourced from **open platforms** and **Neuralframe AI's proprietary sources**, with **explicit consent** from contributors.  

---

## üèÜ Featured in Datathon @ Bitfest 2025  
This dataset was **first utilized** in the **Datathon Competition** at **Bitfest 2025**, enabling participants to develop and refine:  

üîπ **Resume Parsing Algorithms**  
üîπ **Candidate Evaluation Models**  
üîπ **Job Matching Systems**  

---

## üéØ Get Started!  
Feel free to **explore, analyze, and innovate** with this dataset. If you find it **helpful or insightful**, consider **giving it an upvote**! üëç  

**Thank You! üöÄ**

- **About the author:** Sajjad Ali Shah
- **LinkedIn:** [LinkedIn Profile](https://www.linkedin.com/in/sajjad-ali-shah47/)
- **Dataset link:** [Resume Data](https://www.kaggle.com/datasets/saugataroyarghya/resume-dataset/data)

---

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv("../Resume NLP Project/resume_data.csv")

In [5]:
df.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,Ôªøjob_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name √Ø¬º City , State', 'Company Name...",...,NaN,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,[None],[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9544 entries, 0 to 9543
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   address                              784 non-null    object
 1   career_objective                     4740 non-null   object
 2   skills                               9488 non-null   object
 3   educational_institution_name         9460 non-null   object
 4   degree_names                         9460 non-null   object
 5   passing_years                        9460 non-null   object
 6   educational_results                  9460 non-null   object
 7   result_types                         9460 non-null   object
 8   major_field_of_studies               9460 non-null   object
 9   professional_company_names           9460 non-null   object
 10  company_urls                         9460 non-null   object
 11  start_dates                          9460 non-null   object
 12  end_dates                            9460 non-null   object
 13  related_skils_in_job                 9460 non-null   object
 14  positions                            9460 non-null   object
 15  locations                            9460 non-null   object
 16  responsibilities                     9544 non-null   object
 17  extra_curricular_activity_types      3426 non-null   object
 18  extra_curricular_organization_names  3426 non-null   object
 19  extra_curricular_organization_links  3426 non-null   object
 20  role_positions                       3426 non-null   object
 21  languages                            700 non-null    object
 22  proficiency_levels                   700 non-null    object
 23  certification_providers              2008 non-null   object
 24  certification_skills                 2008 non-null   object
 25  online_links                         2008 non-null   object
 26  issue_dates                          2008 non-null   object
 27  expiry_dates                         2008 non-null   object
 28  Ôªøjob_position_name                   9544 non-null   object
 29  educationaL_requirements             9544 non-null   object
 30  experiencere_requirement             8180 non-null   object
 31  age_requirement                      5457 non-null   object
 32  responsibilities.1                   9544 non-null   object
 33  skills_required                      7843 non-null   object
 34  matched_score                        9544 non-null   float64
dtypes: float64(1), object(34)
memory usage: 2.5+ MB

In [13]:
df.shape

(9544, 35)

In [15]:
df.isnull().sum().sum()

101704